
<mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
  </mat-form-field>
    
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- UID Column -->
      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let product; let i = index"> {{ i + 1 }} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOME </th>
        <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
      </ng-container>
  
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PREÇO </th>
        <td mat-cell *matCellDef="let product"> {{ product.price }} </td>
      </ng-container>
      
  
      <!-- Icons Column -->
      <ng-container matColumnDef="icons">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let product"> 
          <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="openModal(product)">edit</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="delete(product.uid)">delete</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let product; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
    

<button mat-fab color="primary" (click)="openModal(null)" class="btn-fab">
    <mat-icon>add</mat-icon>
</button>