
<mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
  </mat-form-field>
    
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- UID Column -->
      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let order; let i = index"> {{ i + 1 }} </td>
      </ng-container>
  
      <!-- Date Sale Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DATA VENDA </th>
        <td mat-cell *matCellDef="let order"> {{ order.created_at }} </td>
      </ng-container>
     
      <!-- UID Customer Column -->
      <ng-container matColumnDef="uid_customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CLIENTE </th>
        <td mat-cell *matCellDef="let order"> {{ order.uid_customer }} </td>
      </ng-container>
  
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL </th>
        <td mat-cell *matCellDef="let order"> R$ {{ order.total_sale }} </td>
      </ng-container>
      
  
      <!-- Icons Column -->
      <ng-container matColumnDef="icons">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let order"> 
          <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="openModal(order)">edit</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="delete(order.uid)">delete</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let order; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
    